<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.24.0/cytoscape.min.js"></script>
 
    </head>
    <body>
        <h>Hello From this webview that is loaded in a way cooler way :DD</h>
        <div id="test_div" style="width: 600px; height: 400px; border: 1px solid black;"></div>
        <script src="{baseUri}/views/out/main.js"></script>
    </body>
</html>